.table-dog {
  background-image: url('../../../img/table-background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 80vw;
  height: auto;
  margin: 0 auto;
}

.label {
  color: #2d3d8d;
  font-size: 1em;
  text-transform: uppercase;
  text-align: right;
}

.suggested-size {
  font-weight: 700;
  font-size: 1.3em;
  color: #fff;
  text-align: center;
  background-image: url('../../../img/td-bg-1.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  margin-left: 15px;
  text-transform: uppercase;
}